@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

// @import './old.scss';
@import './footer.scss';

body {
  color: #000 !important;
  .site-app {
    margin: 0 auto;
    width: 97%;
  }
  .app-menu {
    li{
      color: #000 !important;
    }
    li.active {
      border-bottom: 2px solid #000;
    }

    li:hover {
      border-bottom: 2px solid #000;
    }
  }
}
